In [1]:
print(123123123123123123123123123123123123123123123123 + 1)

123123123123123123123123123123123123123123123124

In [2]:
print(10)
print(type(10))

10
<class 'int'>

Floating-Point Numbers 

Tipe float di python menunjukkan bilangan floating-point. Nilai float ditentukan dengan titik desimal. Secara opsional, karakter e atau E diikuti dengan bilangan bulat positif atau negatif dapat ditambahan untuk menentukan notasi ilmiah:

In [3]:
print(4.2)
print(type(4.2))

print(4.)

print(.2)

print(.4e7)

print(4.2e-4)

4.2
<class 'float'>
4.0
0.2
4000000.0
0.00042

Strings

String adalah urutan data karakter. Jenis string dalam Python disebut str.

String literals dapat dipisahkan menggunakan tanda kutip tunggal atau ganda. Semua karakter antara pembatas pembukan dan pembatas penutup yang 'match' adalah bagian dari string:

In [4]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

Sebuah string dalam Python dapat berisi karakter sebanyak yang kalian inginkan. Satu-satunya batasan adalah resource memori kalian. String juga boleh kosong:

In [5]:
print('')

In [6]:
print("This string contains a single quote (') character.")
print("This string contains a double quote ('') character.")

This string contains a single quote (') character.
This string contains a double quote ('') character.

Boolean Type, Boolean Context, and :Truthiness"

Python 3 menyediakan tipe data Boolean. Objek tipe Boolean mungkin memiliki salah satu dari dua nilai, True atau False:

In [7]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

Variable Assignment

Bayangkan variabel sbg nama yg dilampirkan ke objek tertentu. Di Python, variabel tidak perlu dideklarasikan atu didefinisikan sebelumnya, seperti halnya di banyak bahasa pemrograman lainnya. Untuk membuat variabel, kalian cukup menetapkan nilai dan bisa digunakan. Variable assignment dilakukan dengan satu tanda sama dengan (=):

In [8]:
n = 300

In [9]:
print(n)

300

In [10]:
n

300

In [11]:
# Later, if you change the value of n and use it again, the new value will be substituted instead:

n = 1000
print(n)

n

1000

1000

In [12]:
a = b = c = 300
print(a, b, c)

300 300 300

Variable Types in Python

Dalam banyak bahasa pemrograman, variabel diketik secara statis. Artinya, variabel yang dideklarasikan diawal memiliki tipe data tertentu, dan nilai apa pun yang ditetapkan pada variable tersebut selama masa pakainya harus selalu memiliki tipe itu.

Variabel dalam Pythin berbeda dengan batasan ini. Di Python, variabel dpt diberi value dari satu jenis yang berbeda:

In [13]:
var = 23.5
print(var)

var = "Now I'm a string"
print(var)

23.5
Now I'm a string

Variable Names

Secara resmi, nama variabel di Python bisa berapa pun panjangnya dan bisa terdiri dari huruf besar dan huruf kecil (A-Z, a-z), digit (0-9), dan karakter garis bawah(_). Batasan tambahan adalah bahwa, meskipun nama variabel dpt berisi angka, karakter pertama dari nama variabel tidak boleh berupa digit.

In [14]:
name = "Hacktiv8"
Age = 54
has_laptops = True
print(name, Age, has_laptops)

Hacktiv8 54 True

Nama variabel tidak boleh dimulai dengan angka:

In [15]:
9_kepala_naga = True

SyntaxError: invalid decimal literal (687628429.py, line 1)

Perhatikan bahwa case disini sangat berperan. Huruf kecil dan huruf besar tidak sama. Penggunaan karakter baris bawah juga penting. Masing-masing dan berikut ini mendefinisikan variabel yang berbeda:

In [16]:
age = 1
Age = 2
aGe = 3
AGE = 4
a_g_e = 5
_age = 6
age_ = 7
_AGE_ = 8

print(age, Age, aGe, AGE, a_g_e, _age, _AGE_)

1 2 3 4 5 6 8

Disisi lain, belum tentu semuanya dpt terbaca. Penamaan vaiabel adalah masalah peferensi pribadi, tetapi kebanyakan orang akan menganggap dua contoh pertama, dimana semua huruf disatukan, lebih sulit untuk dibaca, terutama yang menggunakan huruf kapital semua. Metode yang paling umum digunakan utuk membuat nama variabel multi-kata adalah tiga contoh dibawah ini:

• Camel case: Second and subsquent words are capitalized, to make word boundaries
  easier to see. (Preusumably, it struck someone at some point that the capital letters
  strewn throughout the variable bane vaguely resemble camel humps.)
  Example: numberOfCollegeGraduates
  
• Pascal case: identical to Came Case, except the first word is also capitalized.
  Example: NumberOfCollegeGraduates

• Snake case: Words are seperated by underscores.
  Example: number_of_college_graduates

Gunakan salah satu dari ketiganya yang paling menarik secara visuall bagi kalian. Pilih satu dan gunakan secara konsisten.

Operators and Expressions in Python

Di Python, operators adalah simbol khusus yang menunjukan bahwa suatu jenis komputasi harus dilakukan. Nilai yang ditindaklanjuti oleh operators disebut operands.

Berikut ini contohnya:

In [17]:
a = 10
b = 20
a + b

30

Dalam kasus ini, operators + menjumlahkan operands a dan b. Operands dapat berupa nilai literal atau variable yang mereferensikan objek:

In [18]:
a = 10
b = 20
a + b -5

25

Urutan operan dam operator, seperti a + b - 5, disebut expression. Python mendukung banyak operator untuk menggabungkan objek data menjadi expression.

Arithmatic Operators

In [19]:
# Here are some examples of these operators in use:

a = 4
b = 3

print(a + b)
print(a - b)
print(a * b)
print(a / b)
print(a % b) # % = modulus adalah sebuah operasi yang menghasilkan sisa pembagian dari suatu bilangan terhadap bilangan lainnya
print(a ** b) #pangkat dua atau Exponentiation

7
1
12
1.3333333333333333
1
64

In [20]:
# The result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor:

10 / 5

2.0

Comparison Operators

In [21]:
# Here are examples of the comparison operators in use:

a = 10
b = 20
print(a == b)

print(a != b)

print(a <= b)

print(a >= b)

a = 30
b = 30
print(a == b)

print(a <= b)

print(a >= b)

False
True
True
False
True
True
True

String Manipulation

In [22]:
# + Operators
s = 'foo'
t = 'bar'
u = 'baz'

print(s + t)

print (s + t + u)

print('Hacktiv9 ' + 'PTP')

foobar
foobarbaz
Hacktiv9 PTP

In [23]:
# * Operators

S = 'foo.'

s * 4

'foofoofoofoo'

In [24]:
# in Operators

s = 'foo'

print(s in 'That food forr us')

print(s in 'That goof for us')

True
False

In [25]:
# Case conversion
s = 'HackTIV8'

# Capitalize
print(s.capitalize())

# Lower
print(s.lower())

#Swapcase
print(s.swapcase())

# Title
print(s.title())

# Uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

Python Lists

Singkatnya, lis adalah kumpulan objek yang arbitary, agak mirip dengan array dalam banyak bahasa pemrograman lain tetapi lebih fleksibel. List didefinisikan dalam python dengan menyertakan sequence object yang dipisahkan dengan koma dalam tanda kurung siku([]), seperti yg ditunjukkan dibawah ini:

In [26]:
a = ['foo', 'bar', 'baz', 'qux']

print(a)

['foo', 'bar', 'baz', 'qux']

Karakteristik penting dari List Python adalah sbb:

• Lists are ordered.
• Lists can contain any arbitary objects.
• Lists elements can be accessed by index.
• Lists can be nested to arbitary depth.
• Lists are mutable.
• Lists are dynamic.

Lists Are Ordered

List bukan hanya kumpulan object. List adalah kumpulan dari object yang berurutan. Urutan elemen ketika kalian membuat list akan bertahan selama list tersebut ada.

List yang memiliki elemen yang sama dalam urutan yang berbeda, tidak sama:

In [27]:
a = ['foo', 'bar', 'baz', 'qux']
b = ['baz', 'qux', 'bar', 'foo']

a == b

False

Lists Can Contain Arbitary Objects

Sebuah List dpt berisi bermacam-macam objek. Element dari list semuanya bisa berjenis sama:

In [28]:
a = [21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

List Elements Can Be Accessed by Index

Elemen individual dalam list dpt diakses menggunakan indeks dalam tanda kurung siku. Ini sama persis dengan mengakses karakter individu dalam sebuah string. Pengindeksan List berbasis nol seperti halnya dengan string.

Perhatikan List berikut ini:

In [29]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [30]:
print(a[0])
print(a[5])

foo
corge

Hampir semua hal tentang pengindeksan string berfungsi serupa untuk list. Misalnya, indeks list negatif dihitung dari akhir list:

In [31]:
print(a[-1])
print(a[-6])

corge
foo

Slicing juga bisa digunakan. Jika a adalah list, ekspresi a[m:n] mengembalikan porsi a dari indeks m ke n, tetapi tidak termasuk, indeks n:

In [32]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

a[2:5]

['baz', 'qux', 'quux']

In [33]:
# The concatenation (+) and replication (*) operators:

print(a)

print(a + ['grault', 'garply'])
print(a * 2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [34]:
# len(), min(), max()

print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

Modifying a Single List Value

Satu nilai dalam list dapat diganti dengan pengindeksan dan assignment sederhana:

In [35]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a)

a[2] = 10
a[-1] = 20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]

In [36]:
# A list of item can be deleted with the del command:

del a[3]

In [37]:
print(a)

['foo', 'bar', 10, 'quux', 20]

Modifying Multiple List Values

Bagaimana jika kalian ingin mengubah beberapa elemen yang bersebelahan dalam list sekaligus? Python memungkinkan hal inni dengan slice, yang memiliki sintaks berikut:

In [38]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

print(a[1:4])

a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

Python Tuples

Python menyediakan tipe lain dari kumpula objek yang berurutan, disebut tuple.

Defining and Using Tuples

Tuples identik dengan list dalam segala hal, kecuali untuk properti berikut:

Tuples didefinisikan dengan mengapit elemen dalam tanda kurung (()) daripada tanda kurung siku([]).
Tuples tidak bisa diubah. Berikut adalah conto singkat yang menunjukkan pendeklarasian tuple, pengindeksan, dan slicing:

In [39]:
t = ('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

print(t)

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')

In [40]:
print(t[0])

print(t[-1])

foo
corge

In [41]:
# Packing and unpacking

(S1, S2, S3, S4) = ('foo', 'bar', 'baz', 'qux')

S1

'foo'

Python Dictionary

Dictionaries and lists share the following characteristics:

    • Both are mutable
    • Both are dynamic. They can grow and shrink as needed.
    • Both can be nested. A list can contain another list. A dictionary can contain another dictioanry.
      A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

    • List elements are accessed by their position in the list, via indexing.
    • Dictionary elements are accessed via keys.

Defining a Dictionary

Dictionaries adalah implementasi Python dari struktur data yang lebih dikenal sbg associative array.
Dictionaries terdiri dari key-value pairs. Setiap Key-value pairs memetakan key ke value yang terkait.

Kalian bisa mendefinisikan Dictionaries dengan mengapit daftar key-value pairs yang dipisahkan koma dalam tanda kurung kurawal ({}). 
Titik dua(:) memisahkan setiap kunci dari nilai yang terkait.

In [42]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'
}

Accessing Dictionary Values

Sebuah nilai diambil dari dictionary dengan menentukan kunci yang sesuai dalam tanda kurung siku {[]}:

In [43]:
print(MLB_team['Minnesota'])
print(MLB_team['Colorado'])

# error
# MLB_team['Toronto']

Twins
Rockies

In [44]:
#Adding an entry to an ecisting ductionary is simply a matter of assigning a new key and value:

MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

In [45]:
# If you want to update an entry, you can just assign a new value to an existing key:

MLB_team['Seattle'] = 'Seahawks'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Seahawks',
 'Kansas City': 'Royals'}

Building a Dictionary Incrementally

Mendefinisikan dictionary menggunakan tanda kurung kurawal dan key-value pairs, seperti yang ditunjukkan diatas, tidak masalah jika kalian mengetahui semua kunci dan nilai sebelumnya. Tetapi bagaimana jika kalian ingin membuat dictionary sambil jalan?

Kalian bisa mulai dengan membuat dictionary kosong, yang ditentukan dengan tanda kurung kurawa kosong. Kemudian kalian dapat menambahkan kunci dan nilai baru satu per satu:

In [46]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'fido', 'cat': 'Sox'}

In [47]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'fido', 'cat': 'Sox'}}

In [48]:
print(person['fname'])
print(person['lname'])

Hack
PTP

In [49]:
print(person['children'])
print(person['children'][1])

['Ralph', 'Betty', 'Joey']
Betty

In [50]:
print(person['pets'])
print(person['pets']['cat'])

{'dog': 'fido', 'cat': 'Sox'}
Sox

In [52]:
# Build-in Methods
d = {'a': 10, 'b': 20, 'c': 30}

# items
print(d.items())
# Keys
print(d.keys())

# values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

Line Continuation

Misalkan satu pertanyaan dalam kode Python kalian sangat panjang. Misalnya, kalian mungkin memiliki assignment statemen dengan banyak terms:

In [58]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age = (person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True

In [59]:
someone_is_of_working_age = (
    (person1_age >= 18 and person1_age <= 65)
    or (person2_age >= 18 and person2_age <= 65)
    or (person3_age >= 18 and person3_age <= 65)
)
someone_is_of_working_age

True